{#
/**
 * @file transfer_college.html.twig
 * Default theme implementation to present Transfer college data.
 *
 * This template is used when viewing Transfer college pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_transfer_college()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('transfer_college') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
